/* IBM Plex Sans KR 한국어만 */
@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 100;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-100.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-100.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 200;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-200.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-200.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 300;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-300.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-300.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-regular.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-regular.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 500;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-500.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-500.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 600;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-600.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-600.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-700.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean_latin-700.ttf") format("truetype");
}
/* Roboto 라틴어 + 특수문자 */
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src:
        url("../fonts/roboto-v32-latin-100.woff2") format("woff2"),
        url("../fonts/roboto-v32-latin-100.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src:
        url("../fonts/roboto-v32-latin-300.woff2") format("woff2"),
        url("../fonts/roboto-v32-latin-300.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/roboto-v32-latin-regular.woff2") format("woff2"),
        url("../fonts/roboto-v32-latin-regular.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src:
        url("../fonts/roboto-v32-latin-500.woff2") format("woff2"),
        url("../fonts/roboto-v32-latin-500.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/roboto-v32-latin-700.woff2") format("woff2"),
        url("../fonts/roboto-v32-latin-700.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src:
        url("../fonts/roboto-v32-latin-900.woff2") format("woff2"),
        url("../fonts/roboto-v32-latin-900.ttf") format("truetype");
    unicode-range: U+1F300-1F9FF, U+2600-26FF, U+2700-27BF; /* 이모지 범위 */
}
/** 이모티콘만 */
@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/notocoloremoji/v32/Yq6P-KqIXTD0t4D9z1ESnKM3-HpFabsE4tq3luCC7p-aXxcn.0.woff2)
        format("woff2");
    unicode-range: U+1F300-1F9FF, U+2600-26FF, U+2700-27BF, U+2600-27BF, U+2B00-2BFF, U+1F100-1F1FF,
        U+1F680-1F6FF, U+1F900-1F9FF;
}
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/notocoloremoji/v32/Yq6P-KqIXTD0t4D9z1ESnKM3-HpFabsE4tq3luCC7p-aXxcn.0.woff2)
        format("woff2");
    unicode-range: U+1F300-1F9FF, U+2600-26FF, U+2700-27BF, U+2600-27BF, U+2B00-2BFF, U+1F100-1F1FF,
        U+1F680-1F6FF, U+1F900-1F9FF;
}
@font-face {
    font-family: "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notocoloremoji/v32/Yq6P-KqIXTD0t4D9z1ESnKM3-HpFabsE4tq3luCC7p-aXxcn.1.woff2)
        format("woff2");
    unicode-range: U+200d, U+2620, U+26a7, U+fe0f, U+1f308, U+1f38c, U+1f3c1, U+1f3f3-1f3f4, U+1f6a9,
        U+e0062-e0063, U+e0065, U+e0067, U+e006c, U+e006e, U+e0073-e0074, U+e0077, U+e007f;
}
/* [9] */
@font-face {
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notocoloremoji/v32/Yq6P-KqIXTD0t4D9z1ESnKM3-HpFabsE4tq3luCC7p-aXxcn.9.woff2)
        format("woff2");
    unicode-range: U+200d, U+261d, U+2620, U+2639-263a, U+2665, U+270a-270d, U+2728, U+2763-2764,
        U+2b50, U+fe0f, U+1f31a-1f31f, U+1f32b, U+1f383, U+1f389, U+1f3fb-1f3ff, U+1f440-1f450,
        U+1f463-1f465, U+1f479-1f47b, U+1f47d-1f480, U+1f485, U+1f48b-1f48c, U+1f493-1f49f,
        U+1f4a4-1f4a6, U+1f4a8-1f4ab, U+1f4af, U+1f525, U+1f573, U+1f590, U+1f595-1f596, U+1f5a4,
        U+1f5e3, U+1f600-1f644, U+1f648-1f64a, U+1f64c, U+1f64f, U+1f90c-1f925, U+1f927-1f92f,
        U+1f932-1f933, U+1f970-1f976, U+1f978-1f97a, U+1f9a0, U+1f9b4-1f9b7, U+1f9bb, U+1f9be-1f9bf,
        U+1f9d0, U+1f9e0-1f9e1, U+1fa75-1fa79, U+1fac0-1fac2, U+1fae0-1fae6, U+1fae8, U+1faf0-1faf8;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notocoloremoji/v32/Yq6P-KqIXTD0t4D9z1ESnKM3-HpFabsE4tq3luCC7p-aXxcn.9.woff2)
        format("woff2");
    unicode-range: U+200d, U+261d, U+2620, U+2639-263a, U+2665, U+270a-270d, U+2728, U+2763-2764,
        U+2b50, U+fe0f, U+1f31a-1f31f, U+1f32b, U+1f383, U+1f389, U+1f3fb-1f3ff, U+1f440-1f450,
        U+1f463-1f465, U+1f479-1f47b, U+1f47d-1f480, U+1f485, U+1f48b-1f48c, U+1f493-1f49f,
        U+1f4a4-1f4a6, U+1f4a8-1f4ab, U+1f4af, U+1f525, U+1f573, U+1f590, U+1f595-1f596, U+1f5a4,
        U+1f5e3, U+1f600-1f644, U+1f648-1f64a, U+1f64c, U+1f64f, U+1f90c-1f925, U+1f927-1f92f,
        U+1f932-1f933, U+1f970-1f976, U+1f978-1f97a, U+1f9a0, U+1f9b4-1f9b7, U+1f9bb, U+1f9be-1f9bf,
        U+1f9d0, U+1f9e0-1f9e1, U+1fa75-1fa79, U+1fac0-1fac2, U+1fae0-1fae6, U+1fae8, U+1faf0-1faf8;
}
