/* IBM Plex Sans KR 한국어만 */
@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 100;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean-100.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean-100.ttf") format("truetype");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 200;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean-200.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean-200.ttf") format("truetype");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 300;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean-300.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean-300.ttf") format("truetype");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean-regular.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean-regular.ttf") format("truetype");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 500;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean-500.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean-500.ttf") format("truetype");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 600;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean-600.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean-600.ttf") format("truetype");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/ibm-plex-sans-kr-v10-korean-700.woff2") format("woff2"),
        url("../fonts/ibm-plex-sans-kr-v10-korean-700.ttf") format("truetype");
    unicode-range: U+AC00-D7A3;
}
/* Roboto 라틴어 + 특수문자 */
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src:
        url("../fonts/roboto-v32-latin-100.woff2") format("woff2"),
        url("../fonts/roboto-v32-latin-100.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src:
        url("../fonts/roboto-v32-latin-300.woff2") format("woff2"),
        url("../fonts/roboto-v32-latin-300.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/roboto-v32-latin-regular.woff2") format("woff2"),
        url("../fonts/roboto-v32-latin-regular.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src:
        url("../fonts/roboto-v32-latin-500.woff2") format("woff2"),
        url("../fonts/roboto-v32-latin-500.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/roboto-v32-latin-700.woff2") format("woff2"),
        url("../fonts/roboto-v32-latin-700.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src:
        url("../fonts/roboto-v32-latin-900.woff2") format("woff2"),
        url("../fonts/roboto-v32-latin-900.ttf") format("truetype");
}
